AGILe==1.5.0
APFEL==3.0.6
Authlib==0.15.5
Babel==2.9.1
Cartopy==0.21.1
CouchDB==1.2
Cython==0.29.33
Deprecated==1.2.13
GDAL==3.7.0
Genshi==0.7
GitPython==3.1.43
HeapDict==1.0.0
Jinja2==3.1.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Mako==1.1.4
Markdown==3.1.1
MarkupSafe==2.1.2
OWSLib==0.17.1
Pillow==9.5.0
PyHEADTAIL==1.14.1
PyJWT==2.0.1
PyNaCl==1.3.0
PyQt5==5.12.3
PyQt5_sip==4.19.15
PyRDF==0.2.1
PyWavelets==1.4.1
PyYAML==6.0
Pygments==2.9.0
QKeras==0.9.0
QtPy==1.7.1
SQLAlchemy==2.0.16
Send2Trash==1.7.1
Shapely==1.7.1
Sphinx==4.2.0
Theano==1.0.5
Werkzeug==2.2.3
absl-py==1.4.0
accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.2.0
aiostream==0.4.5
alabaster==0.7.12
anyio==3.7.1
appdirs==1.4.4
archspec==0.1.4
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
astroid==2.15.5
astropy==5.3
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.3.0
attrs==21.2.0
auth-get-sso-cookie==2.4.0
autopep8==1.4.4
awkward0==0.15.3
awkward==1.10.3
backcall==0.2.0
backoff==2.2.1
bcrypt==3.1.6
beautifulsoup4==4.10.0
beniget==0.4.0
black==23.3.0
bleach==3.3.1
blosc==1.10.6
bokeh==3.1.1
boost-histogram==1.3.2
boto3==1.18.37
botocore==1.21.37
build==0.8.0
cabinetry==0.5.2
cachetools==5.3.1
capturer==3.0
certifi==2022.12.7
cffi==1.14.6
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.6
click-didyoumean==0.3.0
click==8.0.3
clikit==0.6.2
cloudpickle==2.2.0
coffea==0.7.21
colorcet==2.0.2
coloredlogs==15.0.1
commonmark==0.9.1
configobj==5.0.6
configparser==5.3.0
confuse==2.0.1
contourpy==1.0.7
control==0.9.1
contur==2.4.3
correctionlib==2.2.2
coverage==6.3.2
cpymad==1.14.0
crashtest==0.3.1
cryptography==3.4.7
cupy-cuda11x==12.2.0
cx-Oracle==8.3.0
cycler==0.10.0
dask-jobqueue==0.8.2
dask-kubernetes==2023.7.3
dask-lxplus==0.3.2
dask==2023.7.1
dataclasses-json==0.5.8
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.3
distlib==0.3.6
distributed==2023.7.1
distro==1.5.0
dm-tree==0.1.6
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.16
dotmap==1.3.30
elasticsearch==6.3.0
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.1
execnet==1.9.0
extension-helpers==1.0.0
faiss==1.7.4
fastjsonschema==2.17.1
fastrlock==0.6
filelock==3.12.0
flake8-builtins==1.5.3
flake8==6.0.0
flatbuffers==2.0.8
fonttools==4.40.0
frozenlist==1.3.0
fs==2.4.16
fsspec==2022.11.0
func-adl-servicex==2.2
func-adl-xAOD==2.1
func-adl==3.2.5
funcsigs==1.0.2
future==0.18.3
gast==0.5.2
gcovr==5.2
gitdb==4.0.11
globus-sdk==3.9.0
google-auth-oauthlib==1.0.0
google-auth==2.17.3
google-pasta==0.2.0
googledrivedownloader==0.4
gosam==2.1.1-4b98559
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.48.2
gssapi==1.7.3
h11==0.14.0
h5py==3.8.0
hepdata-converter==0.2.3
hepdata-lib==0.12.0
hepdata-validator==0.3.3
hepunits==2.2.0
hist==2.6.2
histoprint==2.2.0
horovod==0.26.1
html5lib==1.0.1
httpcore==0.17.3
httpstan==4.4.2
httpx==0.24.1
huggingface-hub==0.14.1
humanfriendly==10.0
humanize==0.0.0
hypothesis==5.3.0
identify==2.5.24
idna==3.2
ignite==1.1.0
imageio==2.31.0
imagesize==1.2.0
iminuit==2.22.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==0.0.0
ipydatawidgets==4.0.1
ipykernel==6.0.2
ipympl==0.7.0
ipyparallel==6.2.4
ipython==7.25.0
ipython_genutils==0.2.0
ipywidgets==7.6.3
iso8601==1.0.2
isodate==0.6.1
isort==5.12.0
itk-core==5.2.1
itk-filtering==5.2.1
itk-io==5.2.1
itk-meshtopolydata==0.7.0
itk-numerics==5.2.1
itk-registration==5.2.1
itk-segmentation==5.2.1
itk==5.2.1
itkwidgets==0.32.0
jax==0.4.8
jaxlib==0.4.7
jedi==0.18.0
jmespath==0.10.0
joblib==1.2.0
json5==0.9.6
jsonpatch==1.28
jsonpointer==2.0
jsonschema==4.16.0
jupyter-client==6.1.12
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.7.0
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.1
jupyter-packaging==0.10.4
jupyter-server==1.10.2
jupyter==1.0.0
jupyter_console==6.1.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.1
jupyterlab==3.0.17
keras-tuner==1.0.3
keras==2.12.0
kiwisolver==1.0.1
kopf==1.35.5
kr8s==0.8.6
kt-legacy==1.0.3
kubernetes-asyncio==21.7.1
kubernetes==23.3.0
langchain==0.0.209
langchainplus-sdk==0.0.17
lark==1.1.5
lazy-object-proxy==1.9.0
lazy_loader==0.2
libclang==14.0.1
lightning-utilities==0.8.0
linkify-it-py==2.0.2
llvmlite==0.39.1
locket==1.0.0
logilab-common==1.8.1
lxml==4.6.2
lz4==4.0.0
make-it-sync==1.0.0
markdown-it-py==2.2.0
marshmallow-enum==1.5.1
marshmallow==3.16.0
matplotlib-inline==0.1.2
matplotlib==3.7.1
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
meson==1.1.0
messaging==1.1
metakernel==0.24.2
mimesis==4.1.3
minio==5.0.10
minrpc==0.0.11
mistune==3.0.1
ml-dtypes==0.1.0
mock==3.0.5
more-itertools==7.0.0
mpi4py==3.1.1
mplhep-data==0.0.0
mplhep==0.3.12
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.2
multiprocess==0.70.10
mypy-extensions==0.4.3
mypy==0.941
mysql-connector-python==8.0.18
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.1
networkx==2.8.4
nltk==3.8.1
nodeenv==1.7.0
nose==1.3.7
notebook==6.4.0
numba==0.56.4
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.0.1
octave-kernel==0.32.0
odfpy==1.4.1
onnx==1.13.1
onnxruntime-gpu==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.0.9
opensearch-py==2.2.0
opt-einsum==3.2.0
oracledb==1.3.1
packaging==23.1
pandas==1.5.3
pandocfilters==1.4.3
panel==1.1.0
param==1.13.0
paramiko==2.9.2
parse==1.19.0
parsl==1.2.0
parso==0.8.2
partd==1.2.0
pastel==0.2.1
pathlib2==2.3.3
pathos==0.2.3
pathspec==0.11.1
patsy==0.5.2
pbr==5.2.1
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
pip==22.0.4
pipdeptree==2.9.0
pipenv==2020.11.15
platformdirs==3.5.0
plotext==5.2.7
plotly==5.16.1
pluggy==0.13.1
plumbum==1.7.2
ply==3.11
polars==0.18.13
pooch==1.6.0
pox==0.2.5
ppft==1.6.4.9
pre-commit==3.3.1
prettytable==3.0.0
professor2==X.Y.Z
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
py4j==0.10.9.7
py==1.11.0
pyHepMC3.rootIO==3.2.6
pyHepMC3.search==3.2.6
pyHepMC3==3.2.6
pyarrow==11.0.0
pyasn1-modules==0.2.5
pyasn1==0.4.5
pybind11==2.6.2
pycairo==1.18.1
pycodestyle==2.10.0
pycparser==2.20
pyct==0.4.6
pycuda==2021.1
pydantic==1.10.9
pydot-ng==2.0.0
pydot==1.4.1
pyerfa==2.0.0.3
pyflakes==3.0.1
pygraphviz==1.11
pyhf==0.7.4
pykube-ng==23.6.0
pylev==1.4.0
pylint==2.17.4
pyopencl==2021.2.2
pyparser==1.0
pyparsing==2.4.7
pypdf==3.11.0
pypng==0.20220715.0
pyproj==3.0.1
pyrsistent==0.18.0
pyserial==3.4
pyshp==2.1.0
pyshtools==4.10.3
pysimdjson==3.2.0
pyslha==3.2.6
pyspark==3.4.1
pytest-cov==3.0.0
pytest-runner==5.1
pytest-xdist==3.3.1
pytest==7.4.0
python-box==7.0.1
python-dateutil==2.8.2
python-gitlab==1.8.0
python-json-logger==2.0.2
python-jsonpath==0.7.1
python-prctl==1.7
python-vxi11==0.9
pythran==0.13.1
pytools==2021.2.7
pytorch-ignite==0.5.0.post2
pytorch-lightning==2.0.2
pytz==2022.7.1
pyviz-comms==2.0.1
pyzmq==22.1.0
qastle==0.16.0
qmtest==2.4.1
qrcode==7.4.2
qtconsole==4.5.1
railroad-diagrams==1.1.1
rdflib==6.1.1
redis==4.3.3
regex==2023.5.5
requests-gssapi==1.2.3
requests-oauthlib==1.2.0
requests-unixsocket==0.2.0
requests==2.27.1
retry==0.9.2
retrying==1.3.3
rich==12.6.0
rise==5.5.0
rq==1.10.1
rsa==4.0
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.31
s3transfer==0.5.0
safetensors==0.3.1
scandir==1.10.0
scikit-build==0.13.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.11.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==2.0.1
servicex==2.6.2
setproctitle==1.3.3
setuptools-scm==6.4.2
setuptools==57.1.0
simplegeneric==0.8.1
simplejson==3.16.1
singledispatch==3.4.0.3
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.1.0
sollya==0.3
sortedcontainers==2.1.0
soupsieve==2.4.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.2
stevedore==3.3.0
stomp.py==6.1.0
storm==0.23
sympy==1.8
synr==0.5.0
tables==3.6.1
tabulate==0.8.9
tblib==1.7.0
tcut-to-qastle==0.7
tenacity==8.2.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboard==2.12.2
tensorboardX==2.5.1
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-model-optimization==0.7.4.dev0
tensorflow==2.12.0
tensorrt==8.5.3.1
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
textual==0.1.18
tf2onnx==1.14.0
tfp-nightly==0.19.0
tfs-pandas==3.5.1
threadpoolctl==2.2.0
tifffile==2023.4.12
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.11.2
torch-cluster==1.6.1
torch-geometric==2.3.0
torch-scatter==2.1.1
torch-sparse==0.6.17
torch==2.0.0a0+gitunknown
torchmetrics==0.11.4
torchvision==0.15.1a0
tornado==6.1
tqdm==4.65.0
traitlets==5.9.0
traittypes==0.2.1
transformers==4.30.2
tvm==0.8.0
typed-ast==1.5.3
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.5.0
tzlocal==2.0.0
uc-micro-py==1.0.2
uhi==0.3.0
uncertainties==3.1.2
upandas==0.2.0
uproot3-methods==0.10.0
uproot3==3.14.2
uproot==4.3.7
uproot_browser==0.4.0
urllib3==1.26.16
vcversioner==2.16.0.0
vector==0.0.0
verboselogs==1.7
versioneer==0.28
virtualenv-clone==0.5.4
virtualenv==20.23.0
virtualenvwrapper==4.8.4
wandb==0.17.1
watchdog==2.1.7
wcwidth==0.2.5
webargs==7.0.1
webencodings==0.5.1
webio-jupyter-extension==0.1.0
websocket-client==1.1.0
wheel==0.37.1
widgetsnbextension==3.5.1
wrapt==1.14.1
xarray==2022.3.0
xenv==1.0.0
xgboost==1.7.3
xlrd==2.0.1
xrootd==5.6.0
xyzservices==2023.5.0
yacs==0.1.8
yarl==1.7.2
zict==3.0.0
zipp==3.15.0
zstandard==0.14.0